/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  font-size: $base__font-size;
  font-size: 1rem;
  font-weight: $base__font-weight;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
  padding: 1rem;
  font-size: 1rem;
  margin: 0 auto;
  @include desktop {
    max-width: $desktop-width;
  }
}

.site-header{
    @include desktop {
	display:  flex;
	justify-content: center;
	img{
	    height: 7rem;
	}
    }
}
footer{
  margin-top: 3rem;
  @include desktop {
      display: flex;
      justify-content: end;
  }
  .site-info {
      padding-left: 1rem;
  }
}

blockquote,
q {
  quotes: '' '';

  &:before,
  &:after {
    content: '';
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: $base__space-unit;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

ol {
  list-style: decimal;
}

li{
  margin-bottom: .5rem;
  margin-right: 1.125rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: $base__space-unit;
  
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $base__space-unit $base__space-unit;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

table {
  margin: 0 0 $base__space-unit;
  width: 100%;
}
