/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 1.25rem;
	color: $color__tex-button;
	border: $border__button;
	border-radius: 3px;
	background: $color__background-button;
	line-height: 1;
	padding: .75rem 2.25rem;
	&:hover {
		color: $color__tex-button-hover;
		border: $border__button-hover;
	}

	&:active,
	&:focus {
		border-color: $border__button-hover;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
